* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../Preloader_10.gif) center no-repeat #fff;
}



*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}

body { margin: 0;   
    overflow-x: hidden;
    height: 100vh;
    padding: 1%;
    color: black;
    font-family: 'Open Sans';
    background: linear-gradient(-45deg, #FFCACA,  white);
  }

header {  text-align:center; padding: 0.25em; position: relative; width: 100%;}

header img { position: relative; z-index: 999;}

a {
        color: black;
    }


ul {
    padding: 0;
    }
    
/* desabilita seleção de texto*/    
svg text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.zoom {
    background-color: #fc8d59;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}

.hidden {
  display: none;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 1200px) {
    .menu {
    position: absolute; 
    top: 10%;
    width: 22%;    }

     #mapcont {
      position: absolute;
      top: 20px;
    }
     .panel {
      width: 100%;
    }
}


@media only screen and (max-width: 1200px) {
    .menu {
    position: relative;
    top: 20%;
    width: 100%;   
   }

.zoom-cont { 
 position: absolute !important;
 top:20%;
}
.zoom {
  padding: 15px 15px !important;
}

   
.tooltip {
  position: relative !important;
  width: 100% !important;
  left: 0px !important;
  top: 0px !important;
  max-width: none !important; 
}

  }
.menu { 
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(252, 252, 252);
    /* RGBa with 0.6 opacity */
    background-color: rgba(252, 252, 252, 0.7);
    text-align:left; 
    padding-left: 10px; }  

/* labels */

.label-cont { 
 position: relative;
 bottom: 20px;
 left: 20px;
}

.label { 
    list-style: none; 
    font-family: 'Open Sans';
    font-size: 1.3em;

}
.label li { float: left; margin-right: 10px; }
.label span { border: 1px solid black; float: left; width: 22px; height: 22px; margin-right: 5px; }
.label .zero { background-color: #eaedf2; }
.label .grau1 { background-color: #fef0d9; }
.label .grau2 { background-color: #fdd49e; }
.label .grau3 { background-color: #fdbb84; }
.label .grau4 { background-color: #fc8d59; }
.label .grau5 { background-color: #e34a33; }
.label .grau6 { background-color: #b30000; }


.tooltip {
  font-family: 'Open Sans';
  background-color: white;
  color: black;
  border: 0.5px solid;
  border-color: gray;
  position: fixed;
  min-width: 130px;
  max-width: 20%;
  padding: 2px; 
  z-index: 1;
}


.zoom-cont { 
 position: relative;
  float: right;}


.homicidios {
  font-size: 1.5em;
  padding: 0;
  color: #fc8d59;
  font-weight: bold;
}



.regiao path:hover {
opacity: 0.8;
}

.regiao path {

      stroke: gray;
      stroke-width: 0.2px;    }

.regiao path {
border: black;
    }


.bar {
    background-color:black; 
    height: 3px;
    border: red 1px;
    overflow: hidden;
}

.dados {
  font-size: 1.2em;
}
.anos, .dados{
  text-align: left;
}


#mapcont {
    width: 100%;

}
#map {
    width: 100%;
}

.svg-content-responsive {
    top: 10px;
    left: 0;
}
/*
timeslider*/

.sliderContainer {
  width: 70%;
}

input[type=range] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #74A9D8;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #74A9D8;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #74A9D8;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #74A9D8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #74A9D8;
}
/*
acordeao*/

.accordion {
    cursor: pointer;
    border: none ;
    text-align: left;
    font-size: 1em  ;
    transition: 0.4s;
    padding: 0; 
    background-color: transparent;
} 


.panel {
    padding-left: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
    z-index: 9999;
    position: absolute;
    width: 90%;
}