* {
    box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonte.ttf) format('truetype');
}

body { 
  overflow-x: hidden;
  padding: 1vh;
  color: black;
  font-family: 'Open Sans';
  font-size: 16px;
  background-color: LightGray;
}

.logo {  
  text-align:center; 
  padding: 1vh;
  z-index: 3;
  position: absolute;
  width: 100%;
}

a {
  color: #e33a53;
}

ul {
  padding: 0;
}

li { 
  margin-top:1vw;
 }


.svg-content-responsive { 
  height: 100%;
   }


/* desabilita seleção de texto*/    
svg text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}


#wrap { 
    position: absolute;
    top: 0;
    width: 20%;
    z-index: 5;
     }


.menu { 
  background-color: rgb(252, 252, 252); /*fallback*/
  background-color: rgba(252, 252, 252, 0.7);
  padding: 1vw; 
  box-shadow: 0.5vw 0.5vw 0.5vw DarkGray;
  flex-direction: column;
}  

.sliderContainer, #timeslide {
  width: 100%;
}

/* caixas de zoom*/
.zoom-cont { 
 position: absolute;
 right: 3em;
 bottom: 3em;
}


.zoom {
  background-color: #7D0849;
  border: none;
  color: white;
  padding: 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
}

#range {
  font-size: 1.2em;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
.logo { 
  position: relative;
 }

  #map {
   height: auto !important;
   margin-top: 3% !important;
   order: 1;
 }

 .menu {
order:2;
  width: 100% !important;   
}

 #wrap {
  width: 100%;
  position: relative;
 }

.zoom-cont { 
  right:0;
  bottom:0;
  margin-top:1em;
  position: relative !important;
  padding-bottom: 3%;
}




}
/*fim media queries*/
/* labels */

.label-cont { 
display: flex;
}

.label { 
  list-style: none; 
  font-size: 1.1em;
}
.label li { float: left; margin-right: 10px; }
.label span { border: 1px solid black; float: left; width: 22px; height: 22px; margin-right: 5px; }
.label .zero { background-color: #eaedf2; }
.label .grau1 { background-color: #fef0d9; }
.label .grau2 { background-color: #fdd49e; }
.label .grau3 { background-color: #fdbb84; }
.label .grau4 { background-color: #fc8d59; }
.label .grau5 { background-color: #e34a33; }
.label .grau6 { background-color: #b30000; }

.tooltip {
  font-family: 'Open Sans';
  background-color: white;
  color: black;
  border: 0.5px solid;
  border-color: gray;
  position: fixed;
  min-width: 130px;
  max-width: 25%;
  padding: 2px; 
  margin-top: 10px;
  z-index: 2;
}

.homicidios {
  font-size: 1.5em;
  padding: 0;
  color: #e33a53;
  font-weight: bold;
}

.regiao path:hover {
  opacity: 0.8;
}

.regiao path {
  stroke: gray;
  stroke-width: 0.2px;    }

  .regiao path {
    border: black;
  }


  .dados {
    font-size: 1.2em;
  }
  .anos, .dados{
    text-align: left;
  }

  #map {
    flex: 4;
    display: flex;
    top: 10px;
    z-index: 1;
  }


/*timeslider*/


input[type=range] {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #A1A1A1;
  background: #e33a53;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #E0E0E0;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #e33a53;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e33a53;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #A1A1A1;
  background: #e33a53;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #E0E0E0;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: Crimson;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #e33a53;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #A1A1A1;
}
input[type=range]::-ms-fill-upper {
  background: #e33a53;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #A1A1A1;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #E0E0E0;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #e33a53;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: MediumVioletRed ;
}
input[type=range]:focus::-ms-fill-upper {
  background: MediumVioletRed ;
}
/*
modal box*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #e33a53;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#saibamais {
  background-color: #7D0849;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}